<div class="content">
    <div class="supply-detail-area">
        <div class="crumbs">
            <a href="http://www.ymt.com/" title="一亩田"><span class="text">一亩田</span></a>
            <i class="arrow">&nbsp;</i>            <a href="http://www.ymt.com/supply" title="供应大厅"><span class="text">供应大厅</span></a>
            <i class="arrow">&nbsp;</i>            <a href="http://www.ymt.com/gongying_8199" title="苹果"><span class="text">苹果</span></a>
            <i class="arrow">&nbsp;</i>            <a href="http://www.ymt.com/gongying_8744" title="嘎啦"><span class="text">嘎啦</span></a>
            <i class="arrow">&nbsp;</i>
            <a rel="nofollow" href="http://www.ymt.com/gongying/50590115###"><span class="text">供应编号：50590115</span></a>
        </div>
        <div class="detail-main">
            <div class="section">
                <div class="s-left">
                    <div class="info-box">
                        <div class="show-wrap" data-role="container">
                            <div class="img" data-role="main">
                                <img class="big-img" src="./detail_files/b3d49869c98ca04cf1dde016c2693698-300-300.jpg" title="嘎啦山东沂水县">
                            </div>
                            <div class="img-choose">
                                <a href="javascript:" class="leftbtn" data-role="prev"></a>
                                <ul>
                                    <li class="mr0 active" data-role="item" data-big="http://img.yimutian.com/app/b3d49869c98ca04cf1dde016c2693698-300-300.jpg">
                                        <a href="javascript:" rel="{gallery: &#39;gal1&#39;, smallimage: &#39;http://img.yimutian.com/app/b3d49869c98ca04cf1dde016c2693698-50-50!.jpg&#39;,largeimage: &#39;http://img.yimutian.com/app/b3d49869c98ca04cf1dde016c2693698-300-300.jpg&#39;}">
                                            <img width="50" height="50" src="./detail_files/b3d49869c98ca04cf1dde016c2693698-50-50!.jpg">
                                        </a>
                                    </li>
                                </ul>
                                <a href="javascript:" class="rightbtn" data-role="next"></a>
                            </div>
                        </div>
                        <div class="info-con">
                            <h2>
                                嘎啦山东沂水县                                                                <a target="_blank" href="http://www.ymt.com/intro/app?ref=supply-item&c0=00002" class="p_fabu">手机端发布</a>
                            </h2>
                            <div class="qrcode-box item-qrcode" style="display:none;">
                                <div class="bd">
                                    <h3>此信息通过一亩田手机<br>App发布，<a href="http://www.ymt.com/intro/app?ref=supply-item&c0=00002" target="_blank" class="download">点击下载</a></h3>
                                    <div class="qrcode-pic"><img width="170px" src="./detail_files/NnP1VOTk1AuVknBg8wQ4H-XoevCfAZJxitu-bbmMtn8TdZUrUE0z1czyW5D6noOEht3ERYv-G8cb7KjDnlDl7g...png"></div>
                                </div>
                            </div>
                            <div class="qrcode-box-hd item-qrcode" style="display: none;"></div>
                            <div class="inc-top">
                                <div class="t-time">2月前价格：0.5~0.8元/公斤</div>
                            </div>
                            <div class="tit-view">
                                <span class="text">山东临沂沂水县&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            </div>
                            <div class="goods_msg">
                                <div class="row" style="text-align:center;">
                                    <span class="fen">--</span>
                                    <span class="text">信用等级</span>

                                </div>
                                <div class="row">
                                    <span class="fen">0</span>
                                    <span class="text">成交笔数</span>
                                </div>
                                <div class="row mr0">
                                    <span class="fen">16</span>
                                    <span class="text">查看次数</span>
                                </div>
                            </div>
                            <div class="caigou_area">
                                <a class="bigbtn item-btn predict-50590115 fs-20" href="http://www.ymt.com/gongying/50590115###" rel="nofollow" id="entrust_btn" data-unit="公斤" data-realname="崔兆双" data-id="50590115" data-unitstr="50-80">采购</a>
                                <div class="said">委托一亩田采购<br>可获得长期稳定货源</div>
                            </div>
                            <ul class="supply">
                                <li>他还供应：</li>
                                <li><a class="linkbtn" target="_blank" href="http://www.ymt.com/supply/qy_502950/7681">红富士苹果</a></li>
                                <li><a class="linkbtn" target="_blank" href="http://www.ymt.com/supply/qy_502950/7895">生姜</a></li>
                                <li><a class="linkbtn" target="_blank" href="http://www.ymt.com/supply/qy_502950/7896">姜</a></li>
                                <li><a class="linkbtn" target="_blank" href="http://www.ymt.com/supply/qy_502950/8199">苹果</a></li>
                                <li><a class="linkbtn" target="_blank" href="http://www.ymt.com/supply/qy_502950/8826">黄金梨</a></li>
                                <li><a class="linkbtn" target="_blank" href="http://www.ymt.com/supply/qy_502950/9689">水晶富士</a></li>
                            </ul>
                        </div>
                    </div>
                    <a target="_blank" id="hangqing_item_740" class="hangqing-item" href="http://hangqing.ymt.com/c65?ref=supply-prd"><img width="740" src="./detail_files/hangqing-710-60.gif" alt=""></a>
                    <div class="download_serve">
                        <div class="app_scanning">
                            <span class="qr_code"><img width="80px" src="./detail_files/OtguGmtYZpesVL4M4cTfcEWhm_ZD7XkvQFLrOWrEbVgH62ikzbW4PX_e3R8adPGD6JSWJtDJxPohVuwR9Ao6JA...png"></span>
                            <div class="explain">
                                <strong class="row-1">用手机下单有机会获得<em>积分</em>奖励</strong>
                                <span class="row-2">未安装一亩田手机APP请扫描下载</span>
                            </div>
                        </div>
                        <div class="s_payment">
                            <dl class="mode">
                                <dt>一亩田服务：</dt>
                                <dd>
                                    <a target="_blank" href="http://zixun.ymt.com/show-33-632512-1.html" class=""><span class="sign-2"></span><span class="text">先行赔付</span></a>
                                </dd>
                                <dd>
                                    <a target="_blank" href="http://zixun.ymt.com/show-33-720405-1.html" class=""><span class="sign-3"></span><span class="text">积分奖励</span></a>
                                </dd>
                                <dd>
                                    <a target="_blank" href="http://zixun.ymt.com/show-33-663774-1.html" class=""><span class="sign-4"></span><span class="text">实地看货</span></a>
                                </dd>
                            </dl>
                            <dl class="mode">
                                <dt>付款方式：</dt>
                                <dd>
                                    <a target="_blank" href="http://zixun.ymt.com/show-33-728913-1.html" class=""><span class="sign-5"></span><span class="text">支付宝</span></a>
                                </dd>
                                <dd>
                                    <a target="_blank" href="http://zixun.ymt.com/show-33-728913-1.html" class=""><span class="sign-6"></span><span class="text">网银转账</span></a>
                                </dd>
                                <dd>
                                    <a target="_blank" href="http://zixun.ymt.com/show-33-728913-1.html" class=""><span class="sign-7"></span><span class="text">银行转账</span></a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <div class="detail-tabbox">
                        <ul class="detail-tabbox-top">
                            <li class="active"><a href="http://www.ymt.com/gongying/50590115###" rel="nofollow">详细描述</a></li>
                            <li><a rel="nofollow" id="ymt_shidi" href="http://zixun.ymt.com/show-33-663774-1.html" target="_blank" title="一亩田实地看货服务">一亩田实地看货服务</a></li>
                        </ul>
                        <div class="detail-tabbox-con">
                            <div class="box-1">
                                <ul>
                                    <li>供应编号：50590115</li>
                                    <li>商品：苹果</li>
                                    <li>品种：嘎啦</li>
                                    <li>上市时间：9月上旬~12月上旬</li>
                                    <li>：</li><li>：</li>                                                            </ul>
                            </div>
                            <div class="box-2"></div>
                        </div>
                        <p class="detail-text"></p>
                    </div>

                    <!-- 行情信息 2014-11-14 wlm-->
                    <div class="ymt-hq-info">
                        <div class="hq-info-title">
                            苹果行情
                        </div>
                        <ul class="analysis_list_1">
                            <li>
                                <div class="row_1">

                                    <div class="r1_tit">
                                        【<a class="name" id="quotation-related-title-16-0" href="http://hangqing.ymt.com/p7681?ref=supply-prd-hq">
                                        红富士苹果                      </a>
                                        <span class="text">：1.2元/公斤</span>】
                                    </div>
                                    <div class="r1_right">
                                        <span class="name">周立涛</span>
                                        <span title="" class="aptitude-0" style="padding-left:0px;">&nbsp;</span>
                    <span class="credit-box">
                                            </span>
                                    </div>
                                </div>
                                <div class="row_2">
                                    <a class="link" id="quotation-related-content-16-0" href="http://hangqing.ymt.com/dianping_1378051?ref=supply-prd-hq" target="_blank">急售苹果，18265177888，山东苹果产地，货源量大，价格便宜，质量有保证，货源购货。                </a>
                                </div>
                                <div class="row_3">
                                    <span class="addr"><a href="http://hangqing.ymt.com/p7681/16">山东沂水县</a></span>
                                    <span class="weather"></span>
                                    <span class="distance">距您约1,331公里</span>
                                    <div class="name">
                                        <a target="_blank" href="http://www.ymt.com/space/140077" class="dj">
                                        </a>
                                    </div>
                                    <span class="time">发布时间：58分钟前</span>
                                    <span class="browse">点击(8)</span>
                                                <span class="downbox">
                    <a class="down-app" id="hangqing-app-1378051" target="_blank" href="http://www.ymt.com/intro/app?ref=hangqing_list">
                        下载APP查看行情更方便
                    </a>
                </span>
                                </div>
                            </li>
                            <li>
                                <div class="row_1">

                                    <div class="r1_tit">
                                        【<a class="name" id="quotation-related-title-16-1" href="http://hangqing.ymt.com/p7681?ref=supply-prd-hq">
                                        红富士苹果                      </a>
                                        <span class="text">：0.8元/斤</span>】
                                    </div>
                                    <div class="r1_right">
                                        <span class="name">张玉华</span>
                                        <span title="" class="aptitude-0" style="padding-left:0px;">&nbsp;</span>
                    <span class="credit-box">
                                            </span>
                                    </div>
                                </div>
                                <div class="row_2">
                                    <a class="link" id="quotation-related-content-16-1" href="http://hangqing.ymt.com/dianping_1378024?ref=supply-prd-hq" target="_blank">急于出手【山东红富士苹果，纸夹膜苹果。膜袋红富士苹果】价格随行就市：13953929452                </a>
                                </div>
                                <div class="row_3">
                                    <span class="addr"><a href="http://hangqing.ymt.com/p7681/16">山东沂水县</a></span>
                                    <span class="weather"></span>
                                    <span class="distance">距您约1,331公里</span>
                                    <div class="name">
                                        <a target="_blank" href="http://www.ymt.com/space/8851" class="dj">
                                        </a>
                                    </div>
                                    <span class="time">发布时间：2小时前</span>
                                    <span class="browse">点击(4)</span>
                                                <span class="downbox">
                    <a class="down-app" id="hangqing-app-1378024" target="_blank" href="http://www.ymt.com/intro/app?ref=hangqing_list">
                        下载APP查看行情更方便
                    </a>
                </span>
                                </div>
                            </li>
                            <li>
                                <div class="row_1">

                                    <div class="r1_tit">
                                        【<a class="name" id="quotation-related-title-16-2" href="http://hangqing.ymt.com/p7681?ref=supply-prd-hq">
                                        红富士苹果                      </a>
                                        <span class="text">：0.7元/斤</span>】
                                    </div>
                                    <div class="r1_right">
                                        <span class="name">赵洪涛</span>
                                        <span title="" class="aptitude-0" style="padding-left:0px;">&nbsp;</span>
                    <span class="credit-box">
                                            </span>
                                    </div>
                                </div>
                                <div class="row_2">
                                    <a class="link" id="quotation-related-content-16-2" href="http://hangqing.ymt.com/dianping_1377949?ref=supply-prd-hq" target="_blank">[供]【山东苹果产地，红富士苹果价格，红富士苹果低价直销】13561977255                </a>
                                </div>
                                <div class="row_3">
                                    <span class="addr"><a href="http://hangqing.ymt.com/p7681/16">山东东港区</a></span>
                                    <span class="weather"></span>
                                    <span class="distance">距您约1,405公里</span>
                                    <div class="name">
                                        <a target="_blank" href="http://www.ymt.com/space/105822" class="dj">
                                        </a>
                                    </div>
                                    <span class="time">发布时间：3小时前</span>
                                    <span class="browse">点击(8)</span>
                                                <span class="downbox">
                    <a class="down-app" id="hangqing-app-1377949" target="_blank" href="http://www.ymt.com/intro/app?ref=hangqing_list">
                        下载APP查看行情更方便
                    </a>
                </span>
                                </div>
                            </li>
                            <li>
                                <div class="row_1">

                                    <div class="r1_tit">
                                        【<a class="name" id="quotation-related-title-16-3" href="http://hangqing.ymt.com/p7681?ref=supply-prd-hq">
                                        红富士苹果                      </a>
                                        <span class="text">：1.2元/公斤</span>】
                                    </div>
                                    <div class="r1_right">
                                        <span class="name">周立涛</span>
                                        <span title="" class="aptitude-0" style="padding-left:0px;">&nbsp;</span>
                    <span class="credit-box">
                                            </span>
                                    </div>
                                </div>
                                <div class="row_2">
                                    <a class="link" id="quotation-related-content-16-3" href="http://hangqing.ymt.com/dianping_1377892?ref=supply-prd-hq" target="_blank">山东苹果批发，18265177888，今日膜袋红富士苹果装车价格0.6---0.8元，纸袋红富士苹果价格1.4--1.6元批发，货源充足，保证质量，快来购货吧。                </a>
                                </div>
                                <div class="row_3">
                                    <span class="addr"><a href="http://hangqing.ymt.com/p7681/16">山东沂水县</a></span>
                                    <span class="weather"></span>
                                    <span class="distance">距您约1,331公里</span>
                                    <div class="name">
                                        <a target="_blank" href="http://www.ymt.com/space/140077" class="dj">
                                        </a>
                                    </div>
                                    <span class="time">发布时间：6小时前</span>
                                    <span class="browse">点击(39)</span>
                                </div>
                            </li>
                            <li>
                                <div class="row_1">

                                    <div class="r1_tit">
                                        【<a class="name" id="quotation-related-title-16-4" href="http://hangqing.ymt.com/p7681?ref=supply-prd-hq">
                                        红富士苹果                      </a>
                                        <span class="text">：0.7元/斤</span>】
                                    </div>
                                    <div class="r1_right">
                                        <span class="name">赵洪涛</span>
                                        <span title="" class="aptitude-0" style="padding-left:0px;">&nbsp;</span>
                    <span class="credit-box">
                                            </span>
                                    </div>
                                </div>
                                <div class="row_2">
                                    <a class="link" id="quotation-related-content-16-4" href="http://hangqing.ymt.com/dianping_1377861?ref=supply-prd-hq" target="_blank">13561977255低价大量供应山东红富士苹果，具体报价如下；纸袋75#以上1.3---1.5元， 膜袋75#以上0.6---0.9元，纸夹膜75#以上1.2---1.3元。近日走货慢，价格成下滑趋势                </a>
                                </div>
                                <div class="row_3">
                                    <span class="addr"><a href="http://hangqing.ymt.com/p7681/16">山东东港区</a></span>
                                    <span class="weather"></span>
                                    <span class="distance">距您约1,405公里</span>
                                    <div class="name">
                                        <a target="_blank" href="http://www.ymt.com/space/105822" class="dj">
                                        </a>
                                    </div>
                                    <span class="time">发布时间：6小时前</span>
                                    <span class="browse">点击(30)</span>
                                </div>
                            </li>
                        </ul>
                        <div class="see-hq-btn">
                            <a class="btn" href="http://hangqing.ymt.com/p8199">查看更多苹果行情...
                            </a>
                        </div>

                    </div>
                    <!-- 行情信息 2014-11-14 wlm-->
                    <a target="_blank" href="http://www.ymt.com/intro/app?ref=supply_item"><img class="mtop10" src="./detail_files/aa1e5564cfa53a731b602b8a210aee11.jpg"></a>

                    <div class="ty-box ymt-serve">
                        <div class="ty-box-title">一亩田服务</div>
                        <div class="ty-box-con">
                            <h3>关于一亩田</h3>
                            <p class="text">全国最大的农产品商务平台——一亩田拥有强大的网络推广、渠道拓展资源及广泛的客户资源。目前注册用户约50万人，全国每天逾10万农业从业者使用一亩田的各项服务。</p>
                            <p class="text">线上线下联动、覆盖全国网络——在一二线城市批发市场将开设门店；农产品主产地将开设办事处。以技术驱动改造农产品流通环节，让产业上下游的用户都享受优越的服务和便捷的交易。</p>
                            <p class="text mb30">比价格、比产地、比交易就在一亩田；买全国、卖全国、买卖农产品就在一亩田。</p>
                            <h3>一亩田服务承诺</h3>
                            <p class="text">七天无理由退货 / 网络交易举报投诉制度 / 先行赔付保障计划服务 / 达成交易得积分奖励</p>
                        </div>
                    </div>
                    <div class="statement">
                        免责声明：<br>一亩田网站所展示的供求信息由买卖双方自行提供，其真实性、准确性和合法性由信息发布人负责。一亩田不提供任何保证，并不承担任何法律责任。一亩田友情提醒：为保障您的利益，请使用一亩田委托采购服务，让您交易省时安全放心。
                    </div>
                </div>
                <div class="s-right">
                    <div class="ty-box gybox1">
                        <div class="ty-box-title"><span class="tex">供应商资料</span></div>
                        <div class="ty-box-con">
                            <div class="head-name">
                            <span class="name"><a class="linkbtn" target="_blank" href="http://www.ymt.com/space/502950">崔兆双</a>
                                                            </span>
                            </div>
                            <div class="relate-info">
                                <div class="row">
                                    <span class="label">成交：</span>
                                <span class="amount">
                                    成交0笔                                </span>
                                </div>
                            </div>
                            <div class="boda">
                                委托一亩田向我采购<br>有机会获得积分奖励<br>拨打400-898-3008详细了解
                            </div>
                            <button class="bigbtn" href="###" rel="nofollow" id="call_supplier_btn" data-id="50590115" style="width: 216px;margin-left: 10px;margin-top: 5px;line-height: 45px;height: 45px;display:display">拨打电话</button>
                        </div>
                    </div>
                    <div class="ty-box gybox2">
                        <div class="ty-box-title"><span class="tex">他还供应</span><a target="_blank" id="look_more" href="http://www.ymt.com/supply/qy_502950" class="linkbtn">查看全部</a></div>
                        <div class="ty-box-con">
                            <ul>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50588404" class="top-name">姜</a>
                                    <div class="jin-date"><em>1~2.2</em>元/公斤&nbsp;&nbsp;2015-08-22</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50590121" class="top-name">小黄姜</a>
                                    <div class="jin-date"><em>1~3</em>元/公斤&nbsp;&nbsp;2015-08-22</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50644721" class="top-name">大黄姜</a>
                                    <div class="jin-date"><em>0.6~0.8</em>元/斤&nbsp;&nbsp;2015-09-18</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50744397" class="top-name">土鸡三黄鸡</a>
                                    <div class="jin-date"><em>1.6</em>元/斤&nbsp;&nbsp;2015-11-11</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50708507" class="top-name">水晶富士</a>
                                    <div class="jin-date"><em>0.8</em>元/斤&nbsp;&nbsp;2015-10-26</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50733214" class="top-name">红富士苹果</a>
                                    <div class="jin-date"><em>1</em>元/斤&nbsp;&nbsp;2015-11-06</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50644119" class="top-name">苹果</a>
                                    <div class="jin-date"><em>0.8~1.1</em>元/斤&nbsp;&nbsp;2015-09-17</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50593640" class="top-name">面姜</a>
                                    <div class="jin-date"><em>1~2.2</em>元/公斤&nbsp;&nbsp;2015-08-24</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50683308" class="top-name">子姜</a>
                                    <div class="jin-date"><em>1.6</em>元/斤&nbsp;&nbsp;2015-10-15</div>
                                </li>
                                <li>
                                    <a target="_blank" href="http://www.ymt.com/gongying/50644126" class="top-name">生姜</a>
                                    <div class="jin-date"><em>0.6~1.5</em>元/公斤&nbsp;&nbsp;2015-09-17</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="other_same_sp">
                        <h3>其他同类产品</h3>
                        <ul>
                            <li>
                                <a href="http://www.ymt.com/gongying/50498652?refer=reco_prd_238_856_1_0_pic" rel="nofollow" class="pic"><img width="90" src="./detail_files/noimage.png" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50498652?refer=reco_prd_238_856_1_0_name" class="name">嘎啦 </a>
                                <div class="je_bj">
                                    <span class="je">1~1.3元/斤</span>
                                    <span class="bj">11:06 价格</span>
                                </div>
                                <div class="place">山西运城临猗县</div>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50498601?refer=reco_prd_238_856_1_1_pic" rel="nofollow" class="pic"><img width="90" src="./detail_files/noimage.png" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50498601?refer=reco_prd_238_856_1_1_name" class="name">嘎啦 </a>
                                <div class="je_bj">
                                    <span class="je">2.3~2.5元/斤</span>
                                    <span class="bj">10:57 价格</span>
                                </div>
                                <div class="place">陕西咸阳礼泉县</div>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50498594?refer=reco_prd_238_856_1_2_pic" rel="nofollow" class="pic"><img width="90" src="./detail_files/noimage.png" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50498594?refer=reco_prd_238_856_1_2_name" class="name">嘎啦 </a>
                                <div class="je_bj">
                                    <span class="je">5~6元/斤</span>
                                    <span class="bj">10:57 价格</span>
                                </div>
                                <div class="place">山东潍坊寿光市</div>
                            </li>
                        </ul>
                        <a id="item_see_more" href="http://www.ymt.com/gongying_8744" class="bigbtn-2 fs-14">查 看 更 多</a>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="ty_box">
                    <div class="ty_box_hd">
                        <div class="tit">热门推荐</div>
                    </div>
                    <div class="ty_box_bd">
                        <ul class="hot_recommend">
                            <li 0="">
                                <a href="http://www.ymt.com/gongying/50550259?refer=reco_prd_990_310_1_0_pic" rel="nofollow" class="pic"><img width="170" src="./detail_files/noimage.png" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50550259?refer=reco_prd_990_310_1_0_name" class="name">嘎啦 </a>
                                <div class="jg_bj">
                                    <span class="jg"><em>1.6~1.8</em>元/公斤</span>
                                    <span class="bj">13:11 价格</span>
                                </div>
                                <div class="place">山东临沂沂水县</div>
                            </li>
                            <li 0="">
                                <a href="http://www.ymt.com/gongying/50543138?refer=reco_prd_990_310_1_1_pic" rel="nofollow" class="pic"><img width="170" src="./detail_files/4be137f36a2cad25c90c7630941edcad-300-300.jpg" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50543138?refer=reco_prd_990_310_1_1_name" class="name">苹果 </a>
                                <div class="jg_bj">
                                    <span class="jg"><em>0.6~0.9</em>元/斤</span>
                                    <span class="bj">14:47 价格</span>
                                </div>
                                <div class="place">山东临沂沂水县四十里堡镇三十里堡村</div>
                            </li>
                            <li 0="">
                                <a href="http://www.ymt.com/gongying/50545123?refer=reco_prd_990_310_1_2_pic" rel="nofollow" class="pic"><img width="170" src="./detail_files/760bfe72de9c301932e16ba18ff45a1f-300-300.jpg" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50545123?refer=reco_prd_990_310_1_2_name" class="name">苹果 </a>
                                <div class="jg_bj">
                                    <span class="jg"><em>0.8~1.2</em>元/斤</span>
                                    <span class="bj">17:18 价格</span>
                                </div>
                                <div class="place">山东临沂沂水县四十里堡镇三十里堡村</div>
                            </li>
                            <li 0="">
                                <a href="http://www.ymt.com/gongying/50547228?refer=reco_prd_990_310_1_3_pic" rel="nofollow" class="pic"><img width="170" src="./detail_files/noimage.png" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50547228?refer=reco_prd_990_310_1_3_name" class="name">嘎啦 </a>
                                <div class="jg_bj">
                                    <span class="jg"><em>0.6~0.8</em>元/斤</span>
                                    <span class="bj">20:41 价格</span>
                                </div>
                                <div class="place">山东临沂沂水县</div>
                            </li>
                            <li class="mr0">
                                <a href="http://www.ymt.com/gongying/50549513?refer=reco_prd_990_310_1_4_pic" rel="nofollow" class="pic"><img width="170" src="./detail_files/222be74832aedb13f1aecd12c4365cba-300-300.gif" alt=""></a>
                                <a href="http://www.ymt.com/gongying/50549513?refer=reco_prd_990_310_1_4_name" class="name">苹果 </a>
                                <div class="jg_bj">
                                    <span class="jg"><em>0.6</em>元/斤</span>
                                    <span class="bj">17:48 价格</span>
                                </div>
                                <div class="place">山东临沂沂水县</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <a id="hangqing_item_990" href="http://www.ymt.com/zt/hangqing?gongying-xiangqing-side-pic" target="_blank">
                <img width="990" class="mtop10" src="./detail_files/hangqing-990-60.png" alt="">
            </a>
        </div>
    </div>