<div class="first-screen">
    <div class="index-banner">
        <div class="slide" id="banner-index">
            <div class="bg active" style="background-image: url(__PUBLIC__/img/banner.jpg);"><a target="_blank"
                                                                                                href="http://www.ymt.com/intro/app?ref=sy_big_banner5&c0=00002">
                &nbsp;</a></div>
        </div>
        <div class="btn-area">
            <div class="slide-btn" id="banner-index-btn"><a data-idx="0" href="http://www.ymt.com/###" class=""></a><a
                    data-idx="1" href="http://www.ymt.com/###" class=""></a><a data-idx="2"
                                                                               href="http://www.ymt.com/###"
                                                                               class="active"></a><a data-idx="3"
                                                                                                     href="http://www.ymt.com/###"></a>
            </div>
        </div>

    </div>
</div>
<div class="content">

    <div class="f_main">
        <div class="section" id="section-1">
            <div class="hd">
                <a class="f1" target="_blank" href="http://www.ymt.com/gongying_c41"><span class="hd_tu-1">&nbsp;</span>商品采购</a>

                <div class="font-link">
                </div>
            </div>

            <div class="bd">
                <div class="bd_left">
                </div>

                <div class="bd_middle">
                    <div class="bd_middle_position">
                        <!--                循环8条对应数据-->
                        <ul class="list_1 mark_0">
                            <volist name="buy_list" id="buy">
                                <li>
                                    <a href="{:U('Buy/index')}" target="_blank">
                                        <span class="name">{$buy.market}</span>
                                        <span class="addr">{$buy.type}</span>
                                        <span class="who">{$buy.size}</span>
                                        <span class="price">{$buy.price}</span>
                                        <span class="price">{$buy.agent}</span>
                                    </a>
                                </li>

                            </volist>
                        </ul>
                    </div>
                </div>

                <div class="bd_right">
                </div>
            </div>

        </div>
        <div class="section" id="section-2">
            <div class="hd">
                <a class="f1" target="_blank" href="#"><span class="hd_tu-2">&nbsp;</span>商品供应</a>

                <div class="font-link">
                </div>
            </div>

            <div class="bd">
                <div class="bd_left">
                </div>

                <div class="bd_middle">
                    <div class="bd_middle_position">
                        <!--                循环8条对应数据-->
                        <ul class="list_1 mark_0">
                            <volist name="support_list" id="support">
                                <li>
                                    <a href="{:U('Support/index')}" target="_blank">
                                        <span class="name">{$support.market}</span>
                                        <span class="addr">{$support.type}</span>
                                        <span class="who">{$support.size}</span>
                                        <span class="price">{$support.num}</span>
                                        <span class="price">{$support.agent}</span>
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>

                <div class="bd_right">
                </div>
            </div>
        </div>
        <div class="section" id="section-3">
            <div class="hd">
                <a class="f1" target="_blank" href="http://www.ymt.com/gongying_c41"><span class="hd_tu-1">&nbsp;</span>今日行情</a>

                <div class="font-link">
                </div>
            </div>

            <div class="bd">
                <div class="bd_left">
                </div>

                <div class="bd_middle">
                    <div class="bd_middle_position">
                        <!--                循环8条对应数据-->
                        <ul class="list_1 mark_0">
                            <volist name="today_list" id="today">
                                <li>
                                    <a href="{:U('Today/index')}" target="_blank">
                                        <span class="name">{$today.name}</span>
                                    </a>
                                </li>

                            </volist>
                        </ul>
                    </div>
                </div>

                <div class="bd_right">
                </div>
            </div>

        </div>
        <div class="section" id="section-4">
            <div class="hd">
                <a class="f1" target="_blank" href="#"><span class="hd_tu-2">&nbsp;</span>小微企业</a>

                <div class="font-link">
                </div>
            </div>

            <div class="bd">
                <div class="bd_left">
                </div>

                <div class="bd_middle">
                    <div class="bd_middle_position">
                        <!--                循环8条对应数据-->
                        <ul class="list_1 mark_0">
                            <volist name="company_list" id="company">
                                <li>
                                    <a href="{:U('company/index')}" target="_blank">
                                        <span class="name">{$company.name}</span>
                                    </a>
                                </li>
                            </volist>
                        </ul>
                    </div>
                </div>

                <div class="bd_right">
                </div>
            </div>
        </div>
    </div>
</div>
