<div class="first-screen">
    <div class="index-banner">
        <div class="slide" id="banner-index">
            <div class="bg active" style="background-image: url(__PUBLIC__/img/banner.jpg);"><a target="_blank" href="http://www.ymt.com/intro/app?ref=sy_big_banner5&c0=00002">&nbsp;</a></div>
        </div>
        <div class="btn-area">
            <div class="slide-btn" id="banner-index-btn"><a data-idx="0" href="http://www.ymt.com/###" class=""></a><a data-idx="1" href="http://www.ymt.com/###" class=""></a><a data-idx="2" href="http://www.ymt.com/###" class="active"></a><a data-idx="3" href="http://www.ymt.com/###"></a></div>
        </div>

    </div>
</div>
<div class="content">

    <div class="f_main">
        <div class="section" id="section-1">
            <div class="hd">
                <a class="f1" target="_blank" href="http://www.ymt.com/gongying_c41"><span class="hd_tu-1">&nbsp;</span>热门供应</a>
                <div class="font-link">
                </div>
            </div>

            <div class="bd">
                <div class="bd_left">
                </div>

                <div class="bd_middle">
                    <div class="bd_middle_position">
                        <div class="top_1">
                            <ul class="tab_menu2" data-floor="1">
                                <li data-mark="0" class="active">
                                    <a href="#">小米</a>
                                </li>
                                <li data-mark="1">
                                    <a href="#">大米</a>
                                </li>
                                <li data-mark="2">
                                    <a href="#">大葱</a>
                                </li>
                                <li data-mark="3" class="brno">
                                    <a href="#">花椒</a>
                                </li>
                            </ul>
                            <a href="h#" target="_blank" class="tuig">我要供应</a>
                        </div>
                        <!--                循环8条对应数据-->
                        <ul class="list_1 mark_0">
                            <li>
                                <a href="http://www.ymt.com/gongying/50606111?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">南斯拉夫雪莲藕</span>
                                    <span class="addr">山东聊城茌平县</span>
                                    <span class="who">徐老板</span>
                                    <span class="price">4.5~5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609323?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">南昌扬子洲红子</span>
                                    <span class="addr">陕西西安户县</span>
                                    <span class="who">王老板</span>
                                    <span class="price">2~3元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50606118?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">金韩蜜本南瓜</span>
                                    <span class="addr">四川资阳雁江区</span>
                                    <span class="who">陈老板</span>
                                    <span class="price">0.5~0.6元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50600820?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">刺黄瓜</span>
                                    <span class="addr">山东泰安岱岳区</span>
                                    <span class="who">陈老板</span>
                                    <span class="price">1.2~1.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50600357?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">金乡大蒜</span>
                                    <span class="addr">山东菏泽单县</span>
                                    <span class="who">刘老板</span>
                                    <span class="price">3.1~3.35元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50599486?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">龙薯九号</span>
                                    <span class="addr">河北廊坊安次区</span>
                                    <span class="who">杨老板</span>
                                    <span class="price">0.6~0.9元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50595707?ref=sy_1F_tab0" target="_blank">
                                    <span class="name">金韩蜜本南瓜</span>
                                    <span class="addr">新疆伊犁州奎屯市</span>
                                    <span class="who">王老板</span>
                                    <span class="price">0.4~0.5元/斤</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list_1 mark_1" style="display: none;">
                            <li>
                                <a href="http://www.ymt.com/gongying/50613079?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">章丘大葱</span>
                                    <span class="addr">吉林长春农安县</span>
                                    <span class="who">李老板</span>
                                    <span class="price">0.8~0.9元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50608257?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">长白大葱</span>
                                    <span class="addr">河南南阳新野县</span>
                                    <span class="who">郑老板</span>
                                    <span class="price">1.4~1.45元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50606528?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">楼葱</span>
                                    <span class="addr">山西朔州平鲁区</span>
                                    <span class="who">李老板</span>
                                    <span class="price">1.5~1.7元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50606433?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">日本大葱</span>
                                    <span class="addr">广西桂林市七星区</span>
                                    <span class="who">廖老板</span>
                                    <span class="price">5~10元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50598740?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">干葱</span>
                                    <span class="addr">云南大理州洱源县</span>
                                    <span class="who">韩老板</span>
                                    <span class="price">1~3元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50594412?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">长白大葱</span>
                                    <span class="addr">辽宁锦州太和区</span>
                                    <span class="who">鸭老板</span>
                                    <span class="price">5.23~17.58元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50593899?ref=sy_1F_tab1" target="_blank">
                                    <span class="name">黄葱</span>
                                    <span class="addr">安徽宿州萧县</span>
                                    <span class="who">谢老板</span>
                                    <span class="price">2~3元/斤</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list_1 mark_2" style="display: none;">
                            <li>
                                <a href="http://www.ymt.com/gongying/50598872?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">青麻叶大白菜</span>
                                    <span class="addr">河北张家口蔚县</span>
                                    <span class="who">果老板</span>
                                    <span class="price">0.35~0.4元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50612939?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">大白菜</span>
                                    <span class="addr">河南焦作博爱县</span>
                                    <span class="who">李老板</span>
                                    <span class="price">4~5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50610389?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">大白菜</span>
                                    <span class="addr">河北张家口沽源县</span>
                                    <span class="who">杨老板</span>
                                    <span class="price">0.4~0.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50605961?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">丰抗78白菜</span>
                                    <span class="addr">河南洛阳</span>
                                    <span class="who">枫老板</span>
                                    <span class="price">4.5~5.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50598878?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">青麻叶大白菜</span>
                                    <span class="addr">吉林通化辉南县</span>
                                    <span class="who">张老板</span>
                                    <span class="price">1~1.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50597841?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">青麻叶大白菜</span>
                                    <span class="addr">黑龙江绥化安达市</span>
                                    <span class="who">王老板</span>
                                    <span class="price">0.8~0.9元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50594551?ref=sy_1F_tab2" target="_blank">
                                    <span class="name">青麻叶大白菜</span>
                                    <span class="addr">四川攀枝花东区</span>
                                    <span class="who">邓老板</span>
                                    <span class="price">1~2元/斤</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list_1 mark_3" style="display: none;">
                            <li>
                                <a href="http://www.ymt.com/gongying/50612288?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">紫薯</span>
                                    <span class="addr">河南漯河临颍县</span>
                                    <span class="who">何老板</span>
                                    <span class="price">3~3.5元/公斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50608393?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">商薯19红薯</span>
                                    <span class="addr">山西晋中平遥县</span>
                                    <span class="who">侯老板</span>
                                    <span class="price">1~1.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50607182?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">苏薯8号</span>
                                    <span class="addr">河南许昌襄城县</span>
                                    <span class="who">王老板</span>
                                    <span class="price">1.2~1.4元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50602162?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">越南紫薯</span>
                                    <span class="addr">黑龙江哈尔滨道里区</span>
                                    <span class="who">张老板</span>
                                    <span class="price">3~4.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50599486?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">龙薯九号</span>
                                    <span class="addr">河北廊坊安次区</span>
                                    <span class="who">杨老板</span>
                                    <span class="price">0.6~0.9元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50599016?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">商薯19红薯</span>
                                    <span class="addr">安徽阜阳颍州区</span>
                                    <span class="who">张老板</span>
                                    <span class="price">0.5~0.8元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50597842?ref=sy_1F_tab3" target="_blank">
                                    <span class="name">豫薯13红薯</span>
                                    <span class="addr">河北唐山玉田县</span>
                                    <span class="who">王老板</span>
                                    <span class="price">1.1~1.5元/斤</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="bd_right">
                </div>
            </div>

            <div class="fd">
                <div class="fd_box1">
                    <span class="hd_icon"></span>
                </div>
                <div class="fd_box2">
                </div>


            </div>

            <div class="">
                <div class="real_time_hqbox  hide-1 real_time_1_0 ">
                    <div>
                        <div class="hd2">
                            <span class="name">【棍棍辣椒-状态:新鲜辣椒-0.8~1元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1230105?ref=sy_hangqing" class="row_1">辣椒已陆续上市欢迎各地采购商前来采购。</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p8016?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
                <div class="real_time_hqbox  hide-1 real_time_1_1 hide">
                    <div>
                        <div class="hd2">
                            <span class="name">【长白大葱-单棵重:2两以上-2.2~2.6元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1222521?ref=sy_hangqing" class="row_1">成都蒙阳市场今日货源不多，每斤价格在2.2~2.6元之间，市场行情好，价格稳定，走货快。</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p7298?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
                <div class="real_time_hqbox  hide-1 real_time_1_2 hide">
                    <div>
                        <div class="hd2">
                            <span class="name">【大白菜-1~1.1元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1222891?ref=sy_hangqing" class="row_1">大白菜价格稳定，销量很好。目前在1.0-1.1元一斤。</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p7107?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
                <div class="real_time_hqbox  hide-1 real_time_1_3 hide">
                    <div>
                        <div class="hd2">
                            <span class="name">【龙薯九号-单个重:3两以上-0.6~0.65元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1224959?ref=sy_hangqing" class="row_1">市场上的红薯价格每斤在0.6元到0.65元之间，价格稳定，市场到货量大，走货较慢，价格有下降趋势，批发商慎入！</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p7710?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
            </div>

        </div>
        <div class="section" id="section-2">
            <div class="hd">
                <a class="f1" target="_blank" href="#"><span class="hd_tu-2">&nbsp;</span>急需商品</a>
                <div class="font-link">
                </div>
            </div>

            <div class="bd">
                <div class="bd_left">
                </div>

                <div class="bd_middle">
                    <div class="bd_middle_position">
                        <div class="top_1">
                            <ul class="tab_menu2" data-floor="2">
                                <li data-mark="0" class="active">
                                    <a href="http://www.ymt.com/###">小米</a>
                                </li>
                                <li data-mark="1">
                                    <a href="http://www.ymt.com/###">大米</a>
                                </li>
                                <li data-mark="2">
                                    <a href="http://www.ymt.com/###">大葱</a>
                                </li>
                                <li data-mark="3" class="brno">
                                    <a href="http://www.ymt.com/###">花椒</a>
                                </li>
                            </ul>
                            <a href="http://zixun.ymt.com/show-40-839843-1.html" target="_blank" class="tuig">我的需求</a>
                        </div>
                        <!--                循环8条对应数据-->
                        <ul class="list_1 mark_0">
                            <li>
                                <a href="http://www.ymt.com/gongying/50609633?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">黄金梨</span>
                                    <span class="addr">山东日照莒县</span>
                                    <span class="who">董老板</span>
                                    <span class="price">0.6~0.9元/公斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609636?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">红肉苹果</span>
                                    <span class="addr">山东烟台莱州市</span>
                                    <span class="who">尹老板</span>
                                    <span class="price">1~3元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609631?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">红肉苹果</span>
                                    <span class="addr">山东烟台莱州市</span>
                                    <span class="who">于老板</span>
                                    <span class="price">1~5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50606114?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">巨峰葡萄</span>
                                    <span class="addr">辽宁大连瓦房店市</span>
                                    <span class="who">庞老板</span>
                                    <span class="price">1.8~4元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50606112?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">夏黑</span>
                                    <span class="addr">安徽宿州萧县</span>
                                    <span class="who">李老板</span>
                                    <span class="price">25~28元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50600822?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">葡萄</span>
                                    <span class="addr">山东青岛平度市</span>
                                    <span class="who">尹老板</span>
                                    <span class="price">4~5元/公斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50594167?ref=sy_2F_tab0" target="_blank">
                                    <span class="name">巨峰葡萄</span>
                                    <span class="addr">河北邢台柏乡县</span>
                                    <span class="who">王老板</span>
                                    <span class="price">1.5~2元/斤</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list_1 mark_1" style="display: none;">
                            <li>
                                <a href="http://www.ymt.com/gongying/50609632?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">美八</span>
                                    <span class="addr">山东日照莒县</span>
                                    <span class="who">董老板</span>
                                    <span class="price">0.6~0.8元/公斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50611792?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">红富士苹果</span>
                                    <span class="addr">山西临汾尧都区</span>
                                    <span class="who">乔老板</span>
                                    <span class="price">1.5~1.85元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609636?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">红肉苹果</span>
                                    <span class="addr">山东烟台莱州市</span>
                                    <span class="who">尹老板</span>
                                    <span class="price">1~3元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609631?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">红肉苹果</span>
                                    <span class="addr">山东烟台莱州市</span>
                                    <span class="who">于老板</span>
                                    <span class="price">1~5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50608392?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">红富士苹果</span>
                                    <span class="addr">四川凉山州盐源县</span>
                                    <span class="who">胡老板</span>
                                    <span class="price">2~3元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50605873?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">红星</span>
                                    <span class="addr">四川乐山犍为县</span>
                                    <span class="who">罗老板</span>
                                    <span class="price">5~9元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50593719?ref=sy_2F_tab1" target="_blank">
                                    <span class="name">嘎啦</span>
                                    <span class="addr">陕西咸阳三原县</span>
                                    <span class="who">王老板</span>
                                    <span class="price">2.8~3.5元/斤</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list_1 mark_2" style="display: none;">
                            <li>
                                <a href="http://www.ymt.com/gongying/50609633?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">黄金梨</span>
                                    <span class="addr">山东日照莒县</span>
                                    <span class="who">董老板</span>
                                    <span class="price">0.6~0.9元/公斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50612766?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">玉露香梨</span>
                                    <span class="addr">河北衡水深州市</span>
                                    <span class="who">刘老板</span>
                                    <span class="price">1.2~1.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609608?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">早酥梨</span>
                                    <span class="addr">内蒙古巴彦淖尔临河区</span>
                                    <span class="who">乔老板</span>
                                    <span class="price">1.5~1.9元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609322?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">晋酥梨</span>
                                    <span class="addr">河南周口扶沟县</span>
                                    <span class="who">任老板</span>
                                    <span class="price">3~8元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50608557?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">库尔勒香梨</span>
                                    <span class="addr">新疆巴音郭楞州库尔勒市</span>
                                    <span class="who">辛老板</span>
                                    <span class="price">60~80元/箱</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50608251?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">酥梨</span>
                                    <span class="addr">陕西渭南蒲城县</span>
                                    <span class="who">王老板</span>
                                    <span class="price">1.2~1.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50605871?ref=sy_2F_tab2" target="_blank">
                                    <span class="name">皇冠梨</span>
                                    <span class="addr">安徽宿州砀山县</span>
                                    <span class="who">石老板</span>
                                    <span class="price">1.8~2元/斤</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list_1 mark_3" style="display: none;">
                            <li>
                                <a href="http://www.ymt.com/gongying/50611439?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">信丰脐橙</span>
                                    <span class="addr">江西赣州信丰县</span>
                                    <span class="who">邹老板</span>
                                    <span class="price">2.9~3.2元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50609798?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">赣南脐橙</span>
                                    <span class="addr">江西赣州于都县</span>
                                    <span class="who">高老板</span>
                                    <span class="price">3~3.8元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50608142?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">赣南脐橙</span>
                                    <span class="addr">江西赣州会昌县</span>
                                    <span class="who">刘老板</span>
                                    <span class="price">3.5~4.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50607192?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">柳橙</span>
                                    <span class="addr">广西百色市平果县</span>
                                    <span class="who">廖老板</span>
                                    <span class="price">1.5~2.5元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50603037?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">纽荷尔脐橙</span>
                                    <span class="addr">湖南永州江永县</span>
                                    <span class="who">何老板</span>
                                    <span class="price">2.5~3元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50603040?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">红江橙</span>
                                    <span class="addr">山西太原清徐县</span>
                                    <span class="who">杨老板</span>
                                    <span class="price">4.99~9.66元/斤</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.ymt.com/gongying/50602377?ref=sy_2F_tab3" target="_blank">
                                    <span class="name">柳橙</span>
                                    <span class="addr">山西太原杏花岭区</span>
                                    <span class="who">王老板</span>
                                    <span class="price">3~3.5元/斤</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="bd_right">
                </div>
            </div>

            <div class="fd">
                <div class="fd_box1">
                    <span class="hd_icon"></span>
                </div>
                <div class="fd_box2">
                </div>

                <a class="fd_box3" href="http://www.ymt.com/office?ref=2F_65_local" target="_blank">
                    <img src="__PUBLIC__/727568f37482719559a47a6a3e92551c.jpg">
                </a>
            </div>

            <div class="">
                <div class="real_time_hqbox  hide-2 real_time_2_0 ">
                    <div>
                        <div class="hd2">
                            <span class="name">【哈密大枣-18~20元/公斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1227736?ref=sy_hangqing" class="row_1">收天气影响今年好货较少。新疆哈密大枣即将上市</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p9856?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
                <div class="real_time_hqbox  hide-2 real_time_2_1 hide">
                    <div>
                        <div class="hd2">
                            <span class="name">【嘎啦-单个重:4两以上-1.2~1.8元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1225613?ref=sy_hangqing" class="row_1">来自山东的嘎啦苹果，没有包装，光果价格1.2到1.8之间，颜色鲜艳，市场存货量很大，行情走势下滑趋势</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p8199?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
                <div class="real_time_hqbox  hide-2 real_time_2_2 hide">
                    <div>
                        <div class="hd2">
                            <span class="name">【蒲城酥梨-单个重:5两以上-1.3~1.6元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1226008?ref=sy_hangqing" class="row_1">今年酥梨大果率提高 梨面也较往年好一些 最近已陆续大量上市欢迎各地采购商前来采购。</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p8031?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
                <div class="real_time_hqbox  hide-2 real_time_2_3 hide">
                    <div>
                        <div class="hd2">
                            <span class="name">【赣南脐橙-果径:75mm以上-2~2.5元/斤】</span>
                        </div>
                        <div class="bd2">
                            <a href="http://hangqing.ymt.com/detail_1061169?ref=sy_hangqing" class="row_1">受黄龙病影响，今年赣南脐橙产量大幅跌落，销量比较稳定客户请尽快下订，预计后期价格会明显上涨。</a>
                        </div>
                    </div>
                </div>
                <a href="http://hangqing.ymt.com/p7277?ref=sy_hangqing" class="click_more2" target="_blank">更多实时行情 &gt;</a>
            </div>

        </div>
    </div>
</div>
<div class="content-new">
    <div class="topnav">
        <p>促销商品</p>
    </div>
    <div class="flexslider carousel">

        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1600%; transition-duration: 0s; transform: translate3d(-905px, 0px, 0px);">
            <li id="last-supply-50589448" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50589448" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/bf712499655d589bc8dea42d000cd0ac-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50589448" title="巨峰葡萄 单串重:1斤以上" target="_blank"><p class="prd">巨峰葡萄 单串重:1斤以上</p></a><a href="http://www.ymt.com/gongying/50589448" target="_blank"><p class="price">1.5~2.2元/斤</p><p class="locate">河北柏乡县</p></a></li>
            <li id="last-supply-50601407" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50601407" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/024ef9718d662a76040c2d5464d2b60e-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50601407" title="美八 单个重:四两以上" target="_blank"><p class="prd">美八 单个重:四两以上</p></a><a href="http://www.ymt.com/gongying/50601407" target="_blank"><p class="price">0.8~0.9元/斤</p><p class="locate">山东沂水县</p></a></li>
            <li id="last-supply-50614542" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614542" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/e3b1b615c312e3dfba58586141c8d448-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614542" title="龙薯九号 单个重:3两以上" target="_blank"><p class="prd">龙薯九号 单个重:3两以上</p></a><a href="http://www.ymt.com/gongying/50614542" target="_blank"><p class="price">0.5~0.6元/斤</p><p class="locate">河北雄县</p></a></li>
            <li id="last-supply-50614541" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614541" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/c6abe7878a456a19ea4bfb9aa2bf4248-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614541" title="红石榴 " target="_blank"><p class="prd">红石榴 </p></a><a href="http://www.ymt.com/gongying/50614541" target="_blank"><p class="price">1.5~3元/斤</p><p class="locate">四川会理县</p></a></li>
            <li id="last-supply-50515478" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50515478" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/934caf75ef01d288c5c9d3b95201c314-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50515478" title="花龙密甜瓜 单个重:1.2-2.2斤以上" target="_blank"><p class="prd">花龙密甜瓜 单个重:1.2-2.2斤以上</p></a><a href="http://www.ymt.com/gongying/50515478" target="_blank"><p class="price">1.1~1.4元/斤</p><p class="locate">山东莘县</p></a></li>
            <li id="last-supply-50614532" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614532" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/a968a6015192b9d45a55dd553378e661-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614532" title="雪花梨 单个重:5.5两以上" target="_blank"><p class="prd">雪花梨 单个重:5.5两以上</p></a><a href="http://www.ymt.com/gongying/50614532" target="_blank"><p class="price">26~30元/箱</p><p class="locate">河北赵县</p></a></li>
            <li id="last-supply-50614525" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614525" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/2c7e99725be02806e152da2a77b129ac-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614525" title="红提 单串重:3斤以上" target="_blank"><p class="prd">红提 单串重:3斤以上</p></a><a href="http://www.ymt.com/gongying/50614525" target="_blank"><p class="price">3~3.3元/斤</p><p class="locate">浙江桐乡市</p></a></li>
            <li id="last-supply-50587795" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50587795" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/74b31471c6a6606a7307fb9c0e70769a-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50587795" title="平和琯溪蜜柚 单个重:1.8斤以上" target="_blank"><p class="prd">平和琯溪蜜柚 单个重:1.8斤以上</p></a><a href="http://www.ymt.com/gongying/50587795" target="_blank"><p class="price">2~2.8元/斤</p><p class="locate">福建平和县</p></a></li>
        </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li><li><a class="flex-active">5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="http://www.ymt.com/gongying#">Previous</a></li><li><a class="flex-next" href="http://www.ymt.com/gongying#">Next</a></li></ul></div>
</div>
<div class="content-new">
    <div class="topnav">
        <p>畅销商品</p>
    </div>
    <div class="flexslider carousel">

        <div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1600%; transition-duration: 0s; transform: translate3d(-905px, 0px, 0px);">
            <li id="last-supply-50589448" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50589448" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/bf712499655d589bc8dea42d000cd0ac-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50589448" title="巨峰葡萄 单串重:1斤以上" target="_blank"><p class="prd">巨峰葡萄 单串重:1斤以上</p></a><a href="http://www.ymt.com/gongying/50589448" target="_blank"><p class="price">1.5~2.2元/斤</p><p class="locate">河北柏乡县</p></a></li>
            <li id="last-supply-50601407" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50601407" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/024ef9718d662a76040c2d5464d2b60e-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50601407" title="美八 单个重:四两以上" target="_blank"><p class="prd">美八 单个重:四两以上</p></a><a href="http://www.ymt.com/gongying/50601407" target="_blank"><p class="price">0.8~0.9元/斤</p><p class="locate">山东沂水县</p></a></li>
            <li id="last-supply-50614542" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614542" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/e3b1b615c312e3dfba58586141c8d448-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614542" title="龙薯九号 单个重:3两以上" target="_blank"><p class="prd">龙薯九号 单个重:3两以上</p></a><a href="http://www.ymt.com/gongying/50614542" target="_blank"><p class="price">0.5~0.6元/斤</p><p class="locate">河北雄县</p></a></li>
            <li id="last-supply-50614541" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614541" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/c6abe7878a456a19ea4bfb9aa2bf4248-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614541" title="红石榴 " target="_blank"><p class="prd">红石榴 </p></a><a href="http://www.ymt.com/gongying/50614541" target="_blank"><p class="price">1.5~3元/斤</p><p class="locate">四川会理县</p></a></li>
            <li id="last-supply-50515478" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50515478" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/934caf75ef01d288c5c9d3b95201c314-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50515478" title="花龙密甜瓜 单个重:1.2-2.2斤以上" target="_blank"><p class="prd">花龙密甜瓜 单个重:1.2-2.2斤以上</p></a><a href="http://www.ymt.com/gongying/50515478" target="_blank"><p class="price">1.1~1.4元/斤</p><p class="locate">山东莘县</p></a></li>
            <li id="last-supply-50614532" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614532" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/a968a6015192b9d45a55dd553378e661-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614532" title="雪花梨 单个重:5.5两以上" target="_blank"><p class="prd">雪花梨 单个重:5.5两以上</p></a><a href="http://www.ymt.com/gongying/50614532" target="_blank"><p class="price">26~30元/箱</p><p class="locate">河北赵县</p></a></li>
            <li id="last-supply-50614525" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50614525" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/2c7e99725be02806e152da2a77b129ac-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50614525" title="红提 单串重:3斤以上" target="_blank"><p class="prd">红提 单串重:3斤以上</p></a><a href="http://www.ymt.com/gongying/50614525" target="_blank"><p class="price">3~3.3元/斤</p><p class="locate">浙江桐乡市</p></a></li>
            <li id="last-supply-50587795" style="float: left; display: block; width: 221.25px;"><a href="http://www.ymt.com/gongying/50587795" target="_blank"><div class="imgcontainer"><img src="./农产品供应大厅_农产品批发商-农业网_专业的农产品信息商务平台_files/74b31471c6a6606a7307fb9c0e70769a-158-158!.jpg" draggable="false"></div></a><a href="http://www.ymt.com/gongying/50587795" title="平和琯溪蜜柚 单个重:1.8斤以上" target="_blank"><p class="prd">平和琯溪蜜柚 单个重:1.8斤以上</p></a><a href="http://www.ymt.com/gongying/50587795" target="_blank"><p class="price">2~2.8元/斤</p><p class="locate">福建平和县</p></a></li>
        </ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li><li><a class="">4</a></li><li><a class="flex-active">5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="http://www.ymt.com/gongying#">Previous</a></li><li><a class="flex-next" href="http://www.ymt.com/gongying#">Next</a></li></ul></div>
</div>
