<div class="content">
    <div class="c_wrap">
        <div class="h2">登录</div>
        <div class="fill_text_area">
            <form action="__URL__/loginx" method="post">
            <div class="fl_form">
                <span class="error_text"></span>
                <div class="item mb30">
                    <label>Email</label>
                    <input type="email" class="i_tex_1" id="username" name="email" value="">
                    <div class="p_tu1">&nbsp;</div>
                </div>
                <div class="item mb20">
                    <label>密码</label>
                    <input type="password" class="i_tex_1" id="password" name="pwd" value="">
                    <div class="p_tu2">&nbsp;</div>
                </div>
                <div class="d_area">
                    <input type="submit" class="bigbtn" value="登录">
                </div>
            </div>
            </form>
            <div class="fr_qqbox h220">
                <div class="text">还没有账号，<a href="__URL__/register" class="click_text">现在注册！</a></div>
            </div>
        </div>
    </div>
</div>
