<div class="content">
    <div class="shuju-hot fl">
        <div class="screening_box">
            <div class="region_box">
                <div class="tit">地区：</div>
                <div class="main">
                    <ul class="row_1">
                        <li class="active"><a id="p0" href="javascript:void(0);" onclick="category(p0)">全国</a><i>已选中</i>
                        </li>
                        <volist name="province_list" id="province">
                            <li><a id="p{$province.id}" href="javascript:void(0);" onclick="category(p{$province.id})">{$province.name}</a>
                            </li>
                        </volist>
                    </ul>
                </div>
            </div>


        </div>
        <ul class="analysis_list_1">
            <volist name="today_list" id="today">
                <li>
                    <div class="row_1">

                        <div class="r1_tit">
                            【<a href="{$today.url}" class="name"
                                id="quotation-related-title-0-0">{$today.name}</a>】
                        </div>
                    </div>
                    <div class="row_3">
                                <span class="addr">
                    <a href="#">管理</a>
                </span>

                    </div>
                </li>
            </volist>
        </ul>
        <div class="pub_page">
            <span class="current">1</span><a class="item" rel="nofollow"
                                             href="http://hangqing.ymt.com/dianping/0/30?type=all">2</a><a class="item"
                                                                                                           rel="nofollow"
                                                                                                           href="http://hangqing.ymt.com/dianping/0/60?type=all">3</a><a
                class="item" rel="nofollow" href="http://hangqing.ymt.com/dianping/0/30?type=all">下一页</a><a class="item"
                                                                                                            rel="nofollow"
                                                                                                            href="http://hangqing.ymt.com/dianping/0/1170?type=all">尾页</a>
        </div>
        <div class="clear">
        </div>
    </div>
    <div class="shuju-sidebar fl">
        <div class="other_same_sp">
            <h3 class="fl_font">
                广告位
            </h3>
            <ol class="they_list">
                <li>
                    <a href="http://www.ymt.com/gongying/50627625" target="_blank" class="tu"><img
                            src="./今日农产品价格_农产品价格分析预测-一亩田农业网_files/82d98e071f9eeeea8838d10295d32698-120-100!-120-100!.jpg"
                            width="120" height="100" alt=""></a>

                    <a href="http://www.ymt.com/gongying/50627625" target="_blank" class="name"></a>

                    <div class="je_bj">
                        <span class="je"></span>
                    </div>
                    <div class="place"></div>
                </li>
                <li>
                    <a href="http://www.ymt.com/gongying/50633440" target="_blank" class="tu"><img
                            src="./今日农产品价格_农产品价格分析预测-一亩田农业网_files/7282650e81f2d37f1eb0c216b9996d42-120-100!-120-100!.jpg"
                            width="120" height="100" alt=""></a>

                    <a href="http://www.ymt.com/gongying/50633440" target="_blank" class="name"> </a>

                    <div class="je_bj">
                        <span class="je"></span>
                    </div>
                    <div class="place"></div>
                </li>
                <li>
                    <a href="http://www.ymt.com/gongying/50627658" target="_blank" class="tu"><img
                            src="./今日农产品价格_农产品价格分析预测-一亩田农业网_files/159eed3beb3453aecd8ddf4e70eccf00-120-100!-120-100!.jpg"
                            width="120" height="100" alt=""></a>

                    <a href="http://www.ymt.com/gongying/50627658" target="_blank" class="name"></a>

                    <div class="je_bj">
                        <span class="je"></span>
                    </div>
                    <div class="place"></div>
                </li>
                <li>
                    <a href="http://www.ymt.com/gongying/50645700" target="_blank" class="tu"><img
                            src="./今日农产品价格_农产品价格分析预测-一亩田农业网_files/208f216645e974c1924f73b5b6c11e8a-120-100!-120-100!.jpg"
                            width="120" height="100" alt=""></a>

                    <a href="http://www.ymt.com/gongying/50645700" target="_blank" class="name"> </a>

                    <div class="je_bj">
                        <span class="je"></span>
                    </div>
                    <div class="place"></div>
                </li>
                <li>
                    <a href="http://www.ymt.com/gongying/50637030" target="_blank" class="tu"><img
                            src="./今日农产品价格_农产品价格分析预测-一亩田农业网_files/6b909e5e73b35c5bab956f305fc9bf05-120-100!-120-100!.jpg"
                            width="120" height="100" alt=""></a>

                    <a href="http://www.ymt.com/gongying/50637030" target="_blank" class="name"></a>

                    <div class="je_bj">
                        <span class="je"></span>
                    </div>
                    <div class="place"></div>
                </li>
                <li>
                    <a href="http://www.ymt.com/gongying/50634523" target="_blank" class="tu"><img
                            src="./今日农产品价格_农产品价格分析预测-一亩田农业网_files/64f87f599eb20f4ada2c2bed6f6124cc-120-100!-120-100!.jpg"
                            width="120" height="100" alt=""></a>

                    <a href="http://www.ymt.com/gongying/50634523" target="_blank" class="name"></a>

                    <div class="je_bj">
                        <span class="je"></span>
                    </div>
                    <div class="place"></div>
                </li>
            </ol>
            <a class="bigbtn-2 fs-14" target="_blank" href="http://www.ymt.com/supply">查 看 更 多</a>
        </div>
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
</div>
<script>
    function category(id) {
        $(id).parent().siblings().filter(".active").removeClass("active");
        $(id).parent().addClass("active");
    }
</script>